stages:
  - build

image: docker:20.10

services:
  - docker:20.10-dind

variables:
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_DRIVER: overlay2
  BASE_NAMESPACE: ${CI_REGISTRY}/${CI_PROJECT_NAMESPACE}/${CI_PROJECT_NAME}

before_script:
  - echo -n ${CI_BUILD_TOKEN} | docker login -u ${CI_REGISTRY_USER} --password-stdin ${CI_REGISTRY}

build:php:8.0:
  stage: build
  variables:
    NAMESPACE: ${BASE_NAMESPACE}/php
    IMAGE_VERSION: "8.0"
    DOCKERFILE: php/8.0/Dockerfile
  script:
    - scripts/build.sh
  only:
    refs:
      - main
      - tags
    changes:
      - php/8.0/**/*
      - php/scripts/**/*
      - scripts/**/*

build:php:8.1:
  stage: build
  variables:
    NAMESPACE: ${BASE_NAMESPACE}/php
    IMAGE_VERSION: "8.1"
    DOCKERFILE: php/8.1/Dockerfile
  script:
    - scripts/build.sh
  only:
    refs:
      - main
      - tags
    changes:
      - php/8.1/**/*
      - php/scripts/**/*
      - scripts/**/*

build:docker:
  stage: build
  variables:
    NAMESPACE: ${BASE_NAMESPACE}/docker
    IMAGE_VERSION: latest
    DOCKERFILE: docker/Dockerfile
  script:
    - scripts/build.sh
  only:
    refs:
      - main
      - tags
    changes:
      - docker/**/*
      - scripts/**/*
