stages:
  - build

image:
  name: ghcr.io/osscontainertools/kaniko:v1.26.5-debug
  entrypoint: [""]

variables:
  BASE_NAMESPACE: ${REGISTRY_URL}

before_script:
  - scripts/login.sh

# ── PHP ──────────────────────────────────────────────────────────
build:php:8.4:
  stage: build
  variables:
    NAMESPACE: ${BASE_NAMESPACE}/php
    TAGS: "8.4"
    DOCKERFILE: php/8.4/Dockerfile
  script:
    - scripts/build.sh
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main" || $CI_COMMIT_TAG != null'
      changes:
        - php/8.4/**/*
        - php/scripts/**/*
        - scripts/**/*
    - when: manual
      allow_failure: true

build:php:8.5:
  stage: build
  variables:
    NAMESPACE: ${BASE_NAMESPACE}/php
    TAGS: "8.5"
    DOCKERFILE: php/8.5/Dockerfile
  script:
    - scripts/build.sh
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main" || $CI_COMMIT_TAG != null'
      changes:
        - php/8.5/**/*
        - php/scripts/**/*
        - scripts/**/*
    - when: manual
      allow_failure: true

# ── kubectl ──────────────────────────────────────────────────────
build:kubectl:
  stage: build
  variables:
    NAMESPACE: ${BASE_NAMESPACE}/kubectl
    TAGS: stable
    DOCKERFILE: kubectl/Dockerfile
  script:
    - scripts/build.sh
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main" || $CI_COMMIT_TAG != null'
      changes:
        - kubectl/**/*
        - scripts/**/*
    - when: manual
      allow_failure: true
