stages:
  - build

image: docker:20.10

services:
  - docker:20.10-dind

variables:
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_DRIVER: overlay2
  BASE_NAMESPACE: ${CI_REGISTRY}/${CI_PROJECT_NAMESPACE}/${CI_PROJECT_NAME}

before_script:
  - echo -n ${CI_BUILD_TOKEN} | docker login -u ${CI_REGISTRY_USER} --password-stdin ${CI_REGISTRY}

build:php:8.1:
  stage: build
  variables:
    NAMESPACE: ${BASE_NAMESPACE}/php
    TAGS: "8.1"
    DOCKERFILE: php/8.1/Dockerfile
  script:
    - scripts/build.sh
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main" || $CI_COMMIT_TAG != null'
      changes:
        - php/8.1/**/*
        - php/scripts/**/*
        - scripts/**/*
    - when: manual
      allow_failure: true

build:php:8.2:
  stage: build
  variables:
    NAMESPACE: ${BASE_NAMESPACE}/php
    TAGS: "8.2"
    DOCKERFILE: php/8.2/Dockerfile
  script:
    - scripts/build.sh
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main" || $CI_COMMIT_TAG != null'
      changes:
        - php/8.2/**/*
        - php/scripts/**/*
        - scripts/**/*
    - when: manual
      allow_failure: true

build:flutter:
  stage: build
  variables:
    NAMESPACE: ${BASE_NAMESPACE}/flutter
    TAGS: stable
    DOCKERFILE: flutter/Dockerfile
  script:
    - scripts/build.sh
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main" || $CI_COMMIT_TAG != null'
      changes:
        - flutter/**/*
        - scripts/**/*
    - when: manual
      allow_failure: true
